<%= form_with model: student do |it|%>
    <div>
        <%=it.label :first_name%><br>
        <%=it.text_field :first_name%>
    </div>

    <div>
        <%=it.label :last_name%><br>
        <%=it.text_field :last_name%>
    </div>

    <div>
        <%=it.label :email%><br>
        <%=it.email_field :email%>
    </div>

    <div>
        <%=it.label :date_of_birth%><br>
        <%=it.date_field :date_of_birth%>
    </div>
    
    <div>
        <%=it.label :permanent_address%><br>
        <%=it.text_field :permanent_address%>
    </div>

    <div>
        <%=it.label :local_address%><br>
        <%=it.text_field :local_address%>
    </div>

    <div>
        <%=it.label :permanent_contact%><br>
        <%=it.text_field :permanent_contact%>
    </div>

    <div>
        <%=it.label :alternate_contact%><br>
        <%=it.text_field :alternate_contact%>
    </div>
    
    <div>
        <%=it.submit "Update"%>
    </div>
<%end%>